*{
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  /* background: linear-gradient(to bottom, rgb(173,172,175) 15%, rgb(255,255,255) 40%, rgb(129,226,226)); */
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  color: white;
}
/* rgb(52,222,120) */
.main-header {
  background-color: #222222;
  position: sticky;
  top: 0;
}

@media (min-width: 690px) {
  .main-header {
    background: transparent;
  }
}

.container {
  /* border: 2px solid black; */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  /* border: 2px solid pink; */
  /* flex: 50%; */
  display: flex;
  align-items: center;
}

.logo {
  margin: 10px;
}
.logo > a {
  cursor: pointer;
}
a:hover{
  color: #1de57e;
}

@media (max-width: 690px) {
  .logo > a > img {
    width: 140px;
  }
}

.products {
  display: flex;
  align-items: center;
  list-style: none;
}

.product {
  text-decoration: none;
  padding-right: 25px;
  font-size: 20px;
  color: white;
}
/* @media (max-width: 690px) {
  .product {
    color: white;
  }
} */

.hero {
  height: 80vh;
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #384402 0, #91B712 100%); zielony zgnily*/
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #003A19,#00D664 100%); zielony*/
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #ada996, #f2f2f2, #dbdbdb, #eaeaea); stalowy */
    /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to top, #304352, #d7d2cc); szary */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to top, #00bf8f, #001510); zielony ciemny morski */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #A6C5A6, #ffffff); */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #6DC56D, #ffffff); zielony pastelowy */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom,#000000, #ffffff); czarnobialy */
  background: url("./img/lemiesze.png") no-repeat top, linear-gradient(to top, #000000, #434343); 
}
          
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  /* border: 3px solid #1de57e; */

.hero-wrapper {
  padding-top: 15vh;
}
.hero-title {
  font-size: 35px;
  font-weight: lighter;
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-containers {
  display: flex;
  justify-content: space-around;
  padding: 70px;
  padding-bottom: 20px;
}
.box1, .box2, .box3 {
  width: 370px;
  height: 250px;
  border: 2px solid lightgreen;
  display: flex;
  justify-content:center;
  align-items: center;
}
.allProducts {
  background-color: #1BF743;
  outline: none;
  border: none;
  margin-top: 15px;
  padding: 15px;
  color: white;
  font-size: 1.1rem;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}
.offer {
  background: white;
  height: 100vh;
}
footer {
  background-color: darkslategrey;
  height: 20vh;
}
.offer2 {
  height: 80vh;
  background: linear-gradient(to bottom,#2AED85 0,#57E1BF 100%);
}
