* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to bottom, rgb(173,172,175) 15%, rgb(255,255,255) 40%, rgb(129,226,226)); */
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: white;
  background: white;
}
/* ------------------------------------HEADER-------------------------------------- */
.main-header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0,0,0,.8);
  height: 54px;
}
.nav__menu {
  list-style: none;
  height: 100vh;
  text-align: center;
  padding: 20vh 10vw 0 10vw;
  width: 100%;
  margin: 0;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-nav {
  display: none;
}
.logo {
  padding: 0.7vh 4.5vw 0 9vw;
}
.logo > a {
  cursor: pointer;
}
a:hover{
  color: #ADA3A3;
}
.menu-item {
  border-bottom: 1px solid #333; 
}
 .product {
  text-decoration: none;
  color: white; 
  line-height: 60px;
  transition: all 400ms;
  height: 43px;
  padding: 20px 100px;
  font-size: 1.1rem;
 }
.divider {
  display: none;
}
.hamburger {
  position: absolute; 
  top: 0.4vh;
  right: 8vw;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  background: transparent;
  border: 0;
}
.hamburger__top-bar, .hamburger__bottom-bar {
  content: '';
  display: block;
  position: absolute;
  width: 19px;
  left: 15px;
  height: 1px;
  background: white;
  transform: rotate(0);
  transition: all 0.25s;
}
.hamburger__top-bar {
  top: 23px;
  transform: translateY(-3px);
}
.hamburger__bottom-bar {
  bottom: 23px;
  transform: translateY(3px);
}
.open {
  transform: rotate(90deg);
}
.open .hamburger__top-bar {
  transform: rotate(45deg) translate(1px);
}
.open .hamburger__bottom-bar {
  transform: rotate(-45deg) translate(0);
}
.main-nav__open {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  background: #000;
  z-index: -1;
  /* transition: all 0.3s ease-in; */
  
}
@media (min-width: 760px) {
  .nav__menu {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .main-header {
    height: 52px;
    /* padding: 0 2vw; */
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .logo {
    margin: 0;
    padding: 0.7vh 4vw 0 4vw;
  }
  .main-nav {
    display: flex;
    align-items: center;
    background: transparent;
  }
  .product {
    padding: 12px 4vw;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    border: 0;
    font-size: 0.9rem;
  }
  .divider {
    height: 16px;
    width: 1px;
    margin: 0 4vw 0 4vw;
    background-color: white;
    display: block;
  }
  .hamburger, .hamburger__bottom-bar, .hamburger__top-bar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .main-header {
    height: 47px;
  }
  .logo-img {
    width: 160px;
  }
  .hero {
    background-position: 0 -140px;
  }
}

.hero {
  height: 98vh;
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #384402 0, #91B712 100%); zielony zgnily*/
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #003A19,#00D664 100%); zielony*/
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #ada996, #f2f2f2, #dbdbdb, #eaeaea); stalowy */
    /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to top, #304352, #d7d2cc); szary */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to top, #00bf8f, #001510); zielony ciemny morski */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #A6C5A6, #ffffff); */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom, #6DC56D, #ffffff); zielony pastelowy */
  /* background: url("./lemiesze.png") no-repeat top, linear-gradient(to bottom,#000000, #ffffff); czarnobialy */
  /* background: url("./img/lemiesze.png") no-repeat top, linear-gradient(to top, #000000, #434343);  */
  /* background: url("./img/bgphoto.png") no-repeat, linear-gradient(to top, #000000, #434343);  */
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.3)), url("./img/bgphoto.png") no-repeat; ladny! */
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(0, 43, 19, 0.2)), url("./img/bgphoto.png") no-repeat; tez ladny!    */
   /* background: linear-gradient(to bottom, rgba(152, 247, 221, 0.1), rgba(0, 0, 0, .4)), url("./img/bgphoto.png") no-repeat;  */
  /* background: linear-gradient(to bottom, rgba(51, 231, 177, 0.6), rgba(0, 0, 0, .4)), url("./img/bgphoto.png") no-repeat;  */
  /* background: linear-gradient(to bottom, rgba(106, 11, 201, 0.8), rgba(0, 0, 0, .9)), url("./img/bgphoto.png") no-repeat;  */
  /* background: #333; */
  background-size: cover;
  background: url("./img/bg_al2.png") no-repeat;
  background-position: 20% -140px;
}
        
  /* background-repeat: no-repeat; */
  /* border: 3px solid #1de57e; */

.hero-wrapper {
  padding: 25vh 10vh 0 10vh;
  width: 100%;
}
.hero-title {
  font-size: 2rem;
  font-weight: normal; 
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  color: black;
}
.allProducts {
  border: 2px solid #000001;
  color: #000001;
  text-decoration: none;
  padding: 14px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: .2em;
  font-size: 14px;
  font-weight: normal;
  transition: all 400ms;
}
.allProducts:hover {
  color: white;
  border: 2px solid #1FE464;
  background: #1FE464;
  cursor: pointer;
}
.allProducts:active {
  text-decoration: none;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  /* width: 45%; */
}
.offer2 {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  margin: 2vh;
  /* flex-wrap: wrap; */
}
.white_products {
  /* border: 2px solid red; */
  width: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #FAFAFA;
  background-image: url('./img/white_ploza.jpg');
  background-size: contain;
}
.white {
  width: 50%;
  background-color: #131212;
  background: url('./img/lemiesze_black_transparent.png'), linear-gradient(50deg,#000000 30%, #3d3d3d 100%);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2vh;
}
.black_products {
  background-size: cover;
  background-image: url('./img/white_ploza.png');
}
/* -----------------------WHY-US SECTION-------------------------------- */
.why-us {
  color: black;
  display: flex;
  justify-content: space-between;
}
.why-us__item {
  /* border: 1px solid darkgrey; */
}
/* -----------------------------------FOOTER---------------------------------------- */
footer {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  text-align: center;
  font-size: 0.9rem;
}
.contact-info {
  padding: 15px 0 15px 0;
  margin: 20px 6vw 0 6vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-divider {
  border-bottom: 1px solid rgb(219, 219, 219);
  margin: 35px 0 35px 0;
}
.mail, .phone-num {
  text-decoration: none;
  color: #828282;
  margin-left: 5px;
}
.allegro-icon {
  font-size: 1.2em;
  color: white;
  font-weight: 500px;
}
.allegro {
  text-decoration: none;
  color: #828282;
}
.copyright {
  font-size: 14px;
}
.copyright-container {
  border-top: 1px solid rgb(219, 219, 219);
  margin: 0 12vw 0 12vw;
  justify-content: center;
   align-items: center;
  display: flex;
  height: 60px;
}
.logo-footer {
  margin: 8px;
}
.bold {
  color: #484848;
  font-weight: 800px;
}
.contact-block {
  padding: 20px 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .contact-block {
  width: 33.3333%;
  }
}
